.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;

  .not-found-content {
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    h1,
    p {
      text-align: center;
    }

    .button {
      margin-top: 1rem;
    }
  }
}
