.add-to-favorite-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;

  path {
    fill: var(--main-color);
    transition: fill 0.3s ease;
  }

  .favorite {
    path {
      fill: var(--button-color);
    }
  }
}
