.book-camper {
  display: flex;
  flex-direction: column;
  padding: 2.75rem 3rem;
  border: 1px solid var(--gray-light-color);
  border-radius: 10px;

  .title {
    color: var(--main-color);
    margin-bottom: 0.5rem;
  }

  .subtitle {
    color: var(--gray-color);
    margin-bottom: 1.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }

  .calendar-wrapper {
    &:global(.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext) {
      box-shadow: none;
      border-color: var(--button-color);
    }
  }

  .input-date,
  .input-textarea {
    width: 100%;
    border-radius: 0.75rem;
    background: var(--inputs-color);
    border-color: transparent;
    color: var(--main-color);

    &::placeholder {
      color: var(--gray-color);
    }

    &:hover {
      border-color: transparent;
    }

    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  .error-message {
    margin-top: -0.875rem;
    color: var(--button-color);
    padding-left: 0.875rem;
    font-size: 0.875rem;
  }

  .send-button {
    margin-top: 0.625rem;
    align-self: center;
  }
}

.date-picker {
  width: 17.375rem !important;
  min-width: 17.375rem !important;

  &:global(.p-datepicker table) {
    margin: 0;
  }

  &:global(.p-datepicker table th),
  &:global(.p-datepicker table td) {
    padding: 0;
  }

  &:global(.p-datepicker table th) {
    padding-bottom: 0.75rem;
  }

  &:global(.p-datepicker table th > span) {
    color: var(--text-color);
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.2;
  }

  &:global(.p-datepicker table td > span) {
    width: 2rem;
    height: 2rem;
    color: var(--main-color);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2;
  }

  &:global(.p-datepicker .p-datepicker-header) {
    color: var(--main-color);
  }

  &:global(.p-datepicker .p-monthpicker),
  &:global(.p-datepicker .p-yearpicker) {
    margin: 0;
    padding: 0.75rem;
  }

  &:global(.p-datepicker:not(.p-datepicker-inline)) {
    border-radius: 0.75rem;
    border: 1px solid var(--text-color);
    padding: 0;
  }

  &:global(.p-datepicker .p-datepicker-calendar thead) {
    border-bottom: 1px solid var(--text-color);
  }

  &:global(.p-datepicker table tr:first-child td) {
    padding-top: 0.75rem;
  }

  &:global(.p-datepicker table tr th:first-child),
  &:global(.p-datepicker table tr td:first-child) {
    padding-left: 0.75rem;
  }

  &:global(.p-datepicker table tr th:last-child),
  &:global(.p-datepicker table tr td:last-child) {
    padding-right: 0.75rem;
  }

  &:global(.p-datepicker table tr:last-child td) {
    padding-bottom: 0.75rem;
  }

  &:global(.p-datepicker table tr:not(:last-child) td) {
    padding-bottom: 2px;
  }

  &:global(.p-datepicker table tr:not(:first-child) td) {
    padding-top: 2px;
  }

  :global(.p-datepicker-header) {
    border-radius: 0.75rem;
    padding: 0.75rem 0.75rem 0;
    border: none;
  }

  &:global(.p-datepicker .p-monthpicker .p-monthpicker-month),
  &:global(.p-datepicker .p-yearpicker .p-yearpicker-year) {
    border: 1px solid transparent;
    color: var(--main-color);
  }

  &:global(.p-datepicker table tr td.p-datepicker-other-month span.p-disabled) {
    opacity: 1;
    color: var(--text-color);
  }

  &:global(.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year),
  &:global(.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month) {
    color: var(--main-color);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2;
  }

  &:global(.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover),
  &:global(
      .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover
    ) {
    color: var(--button-color);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &:global(.p-datepicker:not(.p-disabled) table td span:not(.p-highlight, .p-disabled):hover) {
    background-color: var(--gray-light-color);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &:global(.p-datepicker:not(.p-disabled) table td span:not(.p-highlight, .p-disabled):focus) {
    box-shadow: none;
    border-color: var(--button-color);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  &:global(
      .p-datepicker:not(.p-disabled) table td.p-datepicker-today span:not(.p-highlight, .p-disabled)
    ) {
    background-color: var(--text-color);
    color: var(--inputs-color);
  }

  &:global(
      .p-datepicker:not(.p-disabled)
        .p-monthpicker
        .p-monthpicker-month:not(.p-disabled, .p-highlight):hover
    ),
  &:global(
      .p-datepicker:not(.p-disabled)
        .p-yearpicker
        .p-yearpicker-year:not(.p-disabled, .p-highlight):hover
    ) {
    background-color: var(--gray-light-color);
  }

  &:global(
      .p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus
    ),
  &:global(.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus) {
    box-shadow: none;
    border-color: var(--button-color);
  }
}
