.input {
  width: 100%;
  border-radius: 0.75rem;
  background: var(--inputs-color);
  border-color: transparent;
  color: var(--main-color);
  padding: 1.125rem;

  &::placeholder {
    color: var(--gray-color);
  }

  &:hover {
    border-color: transparent;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.icon-field {
  &:global(.p-icon-field > .p-input-icon) {
    display: block;
    top: 50%;
    left: 1.25rem;
    transform: translateY(-50%);
    width: 1.25rem;
    height: 1.25rem;
    margin: 0;

    path {
      fill: var(--main-color);
      transition: fill 0.3s ease;
    }
  }

  &:has(.input:placeholder-shown) > :global(.p-input-icon) path {
    fill: var(--gray-color);
  }

  .input {
    padding-left: 3rem;
  }
}
