body {
  line-height: 1.5;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

* {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.hr {
  border: none;
  border-bottom: 1px solid var(--gray-light-color);
  width: 100%;
  margin: 0;
}

/* Typography */
.h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 0.6667;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3333;
}

.h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

.body {
  font-size: 1rem;
  font-weight: 400;
}

.body2 {
  font-size: 1rem;
  font-weight: 500;
}

.button {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -0.08px;
}

/* Colors */
:root {
  --main-color: #101828;
  --text-color: #475467;
  --gray-color: #6c717b;
  --button-color: #e44848;
  --button-hover-color: #d84343;
  --rating-color: #ffc531;
  --gray-light-color: #dadde1;
  --badges-color: #f2f4f7;
  --inputs-color: #f7f7f7;
  --white-color: #fff;
}
